:root {
  background-color:rgba(28, 40, 61, 0.979);
}
.dashboard {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  margin: 1rem 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 14px;
  height: 3rem;
  color: white;
  max-width: 100%;
  flex-shrink: 0;
  background: rgba(30, 41, 59, 0.5);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border: 1px solid #334155;
  
}

.tally {
  font-size: 1.2rem;
  color: white;
  background: rgba(30, 41, 59, 0.5);
  padding-left: 4rem;
  flex-shrink: 0;
}

.useP {
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  background: rgba(30, 41, 59, 0.5);
  margin-left: 0.5rem;
  flex-shrink: 0;
}
.dashboard h1 {
  font-size: 1.3rem;
  color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  white-space: nowrap;
  flex-shrink: 0;
}


.user {
  font-size: 1.2rem;
  color: #2C3044;
  background-color: white;
  display: flex;
  margin-left: 95rem;
  gap: 100rem;
  border-radius: 50%;
  border: 1px solid black;
}

.footer-dash {
  margin-top: 5rem;
  font-size: 1.1rem;
  
}
.footer-dash P{
 font-size: small;
 margin-top: 2rem;
 color: rgb(105, 121, 121);
 font-weight: 700;
}
.footer-dash1 {
  display: inline;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1.1rem;
}

