
.order-container {
    display: flex;
    margin-top: -22rem;
    margin-left: 18.5rem;
    justify-content: space-evenly;
    width: 97rem;
    height: 13rem;
  }
  
  .pc {
    display: grid;
    justify-content: start;
    align-content: center;
    padding-left: 2rem;
    width: 20rem;
    height: 11.5rem;
    max-height: 15rem;
    border-radius: 14px;
    background: rgba(30, 41, 59, 0.5);  /* more dark */ 
    /* background: rgba(255, 255, 255, 0.05); */
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border: 1px solid #334155;
    transition: all 0.3s ease;
    margin-top: 0.6rem;
  }
  .pc:hover {
    transform: scale(1.1);
    box-shadow: 0 0 6px 5px rgba(41, 64, 94, 0.726);
   }
  .icon-product {
    margin-top: 1.5rem;
    width: 3rem;
    height: 3rem;
    background-color: #2571e4;
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon-revenue {
    margin-top: 1.5rem;
    width: 3rem;
    height: 3rem;
    background-color: #58729c;
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon-pending {
    margin-top: 1.5rem;
    width: 3rem;
    height: 3rem;
    background-color: #df0b39f1;
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon-complete {
    margin-top: 1.5rem;
    width: 3rem;
    height: 3rem;
    background-color: #da9ba9;
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product {
    font-size: small;
    font-weight: 500;
    color: #94a3b8;
    margin-top: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  .text {
    color: rgb(223, 212, 212);
    font-size: xx-large;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -2rem;
  }
 
  
  