.table-container{
    width: 93.7rem;
    height: 45rem;
    margin-top: 2rem;
    margin-left: 20rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.first-table{
    width:45rem;
    height:45rem;
    border-radius: 14px;
    background: rgba(30, 41, 59, 0.5);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border: 1px solid #334155;
    display: grid;
    justify-content: center;
    align-items: center;
}

.first-table p{
    color: white;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: -19.8rem;
    margin-top: -37rem;
}
.second-table{
    width:46rem;
    height:45rem;
    background: rgba(30, 41, 59, 0.5);
    border-radius: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border: 1px solid #334155;
   
} 

.second-table p{
    color: white;
    font-size: 1.2rem;
    text-align: left;
     margin-left: 2.5rem;
     margin-top: 2.6rem;
    font-family: Arial, Helvetica, sans-serif;
  

}